.send-button {
    background-color: #877EED;
    border-radius: 24px;
    border: none;
    padding: 16px;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
    font-weight: 500;
    color: #FFF;
}

.send-button:hover {
    background-color: #544ACB;
}